.nav{
    width: 300px;
    height: 100%;
    background-color: #b9b9b9;
    position: fixed;
    display: flex;
    flex-direction: column;
    
}
.navtitle{
    font-size: 24px;
    font-weight: 500;
    margin: 30px;
}
.nav a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 30px;
}

.head{
    height: 50px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
h2,.signout{
    font-size: 20px;
    padding: 0 20px;
}
.signout{
    cursor: pointer;
}
.content{
    width: 100%;
    padding: 50px 0 0 350px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.title p{
    font-size: 24px;
    font-weight: 500;
}
.title button{
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: rgb(47, 132, 204);
    border: 1px solid rgb(47, 132, 204);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
}
table{
    margin: 5px 0 20px 100px;
    text-align: center;
}
td{
    padding: 15px 30px;
    border-bottom: 1px solid #aaa;
    font-size: 18px;
}
.edit{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
}
nav{
    margin: auto;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.pagination{
    display: flex;
}
nav li{
    padding: 10px;
    border-right: 1px solid #aaa;
}
nav li:last-child{
    border-right: none;
}
li a{
    text-decoration: none;
    color: rgb(47, 132, 204);
}
nav li:hover{
    background-color: rgb(47, 132, 204);
}
nav li:hover a{
    color: #fff;
}
.editBtn{
    width: 80px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 5px 0;
    background-color: #fff;
    cursor: pointer;
}
